// login & register
#loginHeader,
#registerHeader{
    text-align: center;
    
    h1{
        padding: 2rem 0;
        @include text-display-medium;

        @include breakpoint(phone){
            @include text-display-small;
        }
    }
}

#loginMain,
#registerMain{
    background-color: $color-black-50;
    padding: 4rem 0;

    p{
        display: block;
        margin: 0 0 0.3rem;
    }

    .wrapper{
        max-width: 25rem;
    }

    button.cta{
        margin-top: 1.5rem;
        width: 100%;
    }

    span{
        display: block;
        margin-top: 0.625rem;
        width: 100%;
        text-align: center;
    }

    #resetPassword{
        justify-content: flex-end;
    }
}

// account
.account-panel{
    display: flex;
    padding: 3.12rem 0;

    main{
        width: 100%;

        h1{
            @include text-display-small;
        }
    }
}

.account-menu{
    width: 20rem;

    .menu-list,.menu-item,.menu-divider{
        width: 10rem;
    }
    
    &,.menu-list{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    span{
        @include text-body-small;
        color: $color-black-400;
    }

    .menu-item{
        margin-top: .25rem;
        padding: 0 .875rem;
        display: flex;
        align-items: center;
        border-radius: .25rem;
        transition-duration: 150ms;

        &,button{
            background-color: $color-black-50;
            box-shadow: none;
            height: 2.25rem;

            &:hover{
                background-color: $color-black-100;
                cursor: pointer;
                box-shadow: none;
                color: $color-emerald-500;
            }

            &.active{
                background-color: $color-emerald-500;
                color: white;
            }
        }

        button{
            padding: 0;
        }
    }

    .menu-divider{
        margin: .625rem 0;
        display: block;
        height: 1px;
        background-color: $color-black-100;
    }
}

// history
.history{
    &,.products-list{
        list-style-type: none;
        padding: 0;
    }

    .order{
        padding: 0.75rem 0rem;
        border-bottom: 1px solid $color-black-200;
        position: relative;

        .title{
            @include text-title-small;
            margin: 0;
        }

        p{
            @include text-body-medium;
            margin: 0;
        }

        #expand{
            width: 2rem;
            height: 2rem;
            padding: 0;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;

            svg{
                transform: rotate(0);
                transition-duration: 300ms;
            }

            &.active svg{
                transform: rotate(180deg);
            }
        }

        .product{
            margin: 1rem 0 .25rem;

            &-header{
                display: flex;
                align-items: center;
                justify-content: space-between
            }

            .title,.price{
                @include text-label-large;
            }

            .description{
                @include text-body-small;
                color: $color-black-600;
            }
        }
    }
}