
.shopping-cart-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.10), 0px 8px 10px -6px rgba(0, 0, 0, 0.10);
  border-radius: 0.75rem;
  z-index: -10;
  text-align: center;
  padding: 1.5rem .75rem .75rem;
  max-width: 25rem;

  button{
    width: 100%;
    margin-top: .75rem;

    &.close-modal-button{
      width: fit-content;
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      height: inherit;
      margin: .5rem .5rem 0 0;
      background-color: inherit;

      &,&:hover{
        box-shadow: none;
      }
    }
  }

  @include breakpoint(phone){
    width: calc(100% - 1.5rem);
    height: 100vh;
    padding-top: 8rem;

    button.close-modal-button{
      display: none;
    }
  }
}

.empty{
  padding: 4.5rem 0rem 4rem 0rem;
  
  .title{
    @include text-headline-medium;
    margin: 1.5rem 0 0 0;
  }

  p{
    margin: .75rem 0;
  }
}

#purchaseSuccesPage{
  text-align: center;
  padding: 9rem 0 13rem;

  .title{
    margin: 1.25rem 0;
    @include text-display-medium;
  }

  p{
    max-width: 50rem;
    margin: 0 auto 5rem;
  }

  button{
    margin: 0 auto;
  }

  @include breakpoint(phone){
    padding: 4rem 0 8rem;

    .title{
      @include text-display-small;
    }

    p{
      margin-bottom: 2.5rem;
    }
  }
}