.configurator-step-view{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 0 8rem;

    @include breakpoint(phone){
        grid-template-columns: 1fr;
        padding: 0 0 4rem;
    }
}

.configurator-steps{
    padding-top: 1rem;
    padding-right: 4rem;

    @include breakpoint(phone){
        padding-right: 4vw;
    }
}

.configurator-step{
    padding: 0.5rem 0 0.5rem 1.5rem;

    span{
        @include text-headline-small;
        color: $color-black-400;
    }

    h1{
        position: relative;

        .title-decor{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -24px;
            color: $color-emerald-500;
        }
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: .75rem;
    }

    @include breakpoint(phone){
        padding: 0;
        display: none;

        &.active{
            display: block;
        }

        h1{
            margin-left: .5rem;
        }

        .buttons{
            margin-bottom: .75rem;

            a{
                width: 100%;
            }
        }
    }
}

.configurator-ingredients{
    .ingredients{
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include breakpoint(phone){
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .info-text{
        text-align: center;
        @include text-body-small;
        color: $color-black-900;
    }
}

.configurator-summary{
    h2{
        @include text-headline-large;
    }

    .summary-pictures{
        width: 100%;
        border-radius: 0.25rem;
        overflow: hidden;
        margin: .75rem 0;

        &,.category-images{
            display: flex;
            gap: 0;
        }

        img{
            width: 100%;
            height: 7.875rem;
            object-fit: cover
        }
    }

    .ingredient-category-title{
        @include text-label-medium;
        color: $color-black-500;
        margin: 0;
    }

    .ingredient-category-header,
    .ingredient-item{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ingredient-category-header{
        margin: .25rem 0;

        a{
            color: $color-black-500;
        }
    }

    .ingredient-category{
        margin: 0;
        list-style-type: none;
        padding: 0.25rem 0;
        border-bottom: 1px solid $color-black-200;
    }

    .salad-price{
        padding: .75rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price-sum{
            @include text-title-medium;
        }
    }
}

.ingredient-card{
    position: relative;
    padding: .25rem;
    cursor: pointer;

    .checkmark{
        @include flex-center;
        position: absolute;
        top: 0;
        right: 0;
        background-color: $color-emerald-500;
        border-radius: 99px;
        border: 1px solid white;
        width: 1.25rem;
        height: 1.25rem;
        color: white;
    }

    img{
        width: 100%;
        margin-bottom: .125rem;
        border-radius: .25rem;
    }

    .title,.price{
        margin: 0
    }

    .title{
        @include text-label-large;
    }

    .price{
        @include text-body-small;
        color: $color-black-600;
    }
}

// strona powitalna
.configurator-main{
    position: relative;
    text-align: center;
    padding: 4rem 0 6rem;
    min-height: 56rem;
    @include flex-center;

    &::before,
    &::after {
        position: absolute;
        width: 16vw;
        height: 100%;
        background-size: 25vw auto;
        background-repeat: no-repeat;
    }

    &::before {
        content: "";
        left: 0;
        background-image: url('/images/configurator-left-decor.png');
        background-position: right;
    }

    &::after {
        content: "";
        right: 0;
        background-image: url('/images/configurator-right-decor.png');
        background-position: left;
    }

    .wrapper{
        max-width: 1000px;
    }

    h1{
        @include text-display-large;
        margin: 0;
    }

    p{
        margin: 1.5rem auto 3rem;
    }

    button{
        margin: 0 auto;
    }

    @include breakpoint(tab-land){
        &::before,
        &::after{
            width: 8vw;
        }
    }

    @include breakpoint(tab-port){
        min-height: inherit;
        padding: 4rem 0 26rem;

        h1{
            @include text-display-small;
        }

        &::before{
            content: none;
        }

        &::after{
            background-image: url('/images/configurator-mobile-decor.png');
            left: 0;
            bottom: 0;
            width: 100vw;
            height: 24rem;
            background-size: cover;
            background-position: top;
        }
    }
}