// kolory
$color-emerald-50: #effdf4;
$color-emerald-100: #dcfce8;
$color-emerald-200: #bbf7d1;
$color-emerald-300: #87efad;
$color-emerald-400: #49de80;
$color-emerald-500: #22c55d;
$color-emerald-600: #17a34a;
$color-emerald-700: #17803b;
$color-emerald-800: #166433;
$color-emerald-900: #1c5931;
$color-emerald-950: #052e14;

$color-black-50: #f9fafb;
$color-black-100: #f3f4f6;
$color-black-200: #e5e7eb;
$color-black-300: #9ca3af;
$color-black-400: #9ca3af;
$color-black-500: #6b7280;
$color-black-600: #4b5563;
$color-black-700: #374151;
$color-black-800: #1f2937;
$color-black-900: #111827;
$color-black-950: #000000;

$color-error-50: #fef2f2;
$color-error-100: #fee2e2;
$color-error-200: #fecaca;
$color-error-300: #fca5a5;
$color-error-400: #f87171;
$color-error-500: #ef4444;
$color-error-600: #dc2626;
$color-error-700: #b91c1c;
$color-error-800: #991b1b;
$color-error-900: #7f1d1d;
$color-error-950: #450a0a;

// efekty
$shadow-default: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.1);
$shadow-hover: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
$shadow-modal: 0px 8px 10px rgba(0, 0, 0, 0.1), 0px 20px 25px rgba(0, 0, 0, 0.1);
